<template name="asking">

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Join now: <small>{{number}}</small></h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>{{theQuestion.question}}</h3>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-12 text-center">
      <button class="btn btn-primary" id="startPolling">Start Polling</button>
    </div>
  </div>
      

</div>
<!-- continer -->

</template>