<template name="waiting">

    {{>navbar}}

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2>Welcome to class: <span style="color:green;">{{classNumber}}</span></h2>
                <h4>You are currently in the waiting area...</h4>
                <div class="row">&nbsp;</div>
                <div class="row">&nbsp;</div>
                <button type="button" id="ChangeGroupButton" class="btn btn-warning">CHANGE GROUP</button>
            </div>
        </div>
    </div>

</template>