<template name="list">
    {{>navbar}}
    <div class="container">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-8">
                    <h3>List Name Goes Here:</h3>
                </div>
                <div class="col-md-4">
                    <h2> <small>{{number}}</small></h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3>List of questions for this class:</h3>
                </div>
            </div>
            <!--foreach question in questions-->
            {{#each questions}}
                {{>question}}
            {{/each}}
        </div>
        <div class="col-md-6">
            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>
            <input id="questionInput" class="form-control input-lg" type="text" placeholder="Type your question here">
            <div class="row">&nbsp;</div>
            <!-- <button type="button" id="buttonYes" data-answer="yes" class="btn btn-success btn-lg add-question">Yes</button>
            <button type="button" id="buttonNo" data-answer="no" class="btn btn-danger btn-lg add-question">No</button> -->


            <div class="form-group">
              <label class="hidden">Question1</label>
              <input type="text" class="form-control required" id="question1" placeholder="A) Enter a question option">
            </div> 
            <div class="form-group">
              <label class="hidden">Question2</label>
              <input type="text" class="form-control required" id="question2" placeholder="B) Enter a question option">
            </div>
            <div class="form-group">
              <label class="hidden">Question3</label>
              <input type="text" class="form-control required" id="question3" placeholder="C) Enter a question option">
            </div>
            <div class="form-group">
              <label class="hidden">Question4</label>
              <input type="text" class="form-control required" id="question4" placeholder="D) Enter a question option">
            </div>

            <button type="button" id="createQuestionBtn" data-answer="no" class="btn btn-primary btn-block btn-lg add-question">Create Question and Answers</button>
            <button type="button" id="createQuestionTrueFalseBtn" data-answer="no" class="btn btn-default btn-block btn-lg add-question">Create Question with True/False Answer</button>

        </div>
    </div>
</template>