<template name="responding">

    {{>navbar}}

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1>{{theQuestion.question}}</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
            {{#each answerOptions}}  
                <button id="answerYes" class="btn btn-default btn-lg btn-block add-response" data-answer="yes">{{this}}</button>

                <!-- {{#if isYesNo}}
                <button id="answerYes" class="btn btn-success active btn-lg btn-block add-response" data-answer="yes">Yes</button>
                <hr>
                <button id="answerNo" class="btn btn-danger btn-lg btn-block add-response" data-answer="no">No</button>
                {{else}}{{#if isTrueFalse}}
                    <button id="answerNo" class="btn btn-primary btn-lg btn-block add-response" data-answer="no">No</button>
                {{else}}{{#if multipleChoice}}
                    <button id="answerNo" class="btn btn-warning btn-lg btn-block add-response" data-answer="no">No</button>
                {{/if}} -->

            {{/each}}
            </div>
        </div>
    </div>

</template>