<template name="responding">

    {{>navbar}}

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1>{{theQuestion.question}}</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <button id="answerYes" class="btn btn-success btn-lg btn-block add-response" data-answer="yes">Yes</button>
                <hr>
                <button id="answerNo" class="btn btn-danger btn-lg btn-block add-response" data-answer="no">No</button>
            </div>
        </div>
    </div>

</template>