<template name="responding">

    {{>navbar}}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>{{theQuestion.question}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button id="answerYes" class="btn btn-lg add-response" data-answer="yes">Yes</button>
                <button id="answerNo" class="btn btn-lg add-response" data-answer="no">No</button>
            </div>
        </div>
    </div>

</template>